# This is a basic workflow to help you get started with Actions

name: List AWS IAM users 

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write     # REQUIRED for GitHub OIDC
  contents: read      # Required by checkout

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          # role-to-assume: arn:aws:iam::<AWS_Account_ID>:role/Github-Access-Role
          aws-region: us-east-1
          
#      - name : Validate AWS Role
#        run: aws sts get-caller-identity
          
      - name: List AWS Users
        run: aws iam list-users --query "Users[*].UserName"
